.benefits {
    transform: translateZ(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 65px;
    margin: -35px auto 0 auto;
    border: 1px solid #00000017;
}

.benefits_container {
    display: flex;
    flex-direction: row;
    padding: 0 8px;
}

.benefits_container_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.benefits_container_left img {
    height: 30px;
    width: 30px;
}

.benefits_container_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90px;
}

.benefits_title {
    display: inline-block;
    font-weight: 600;
    padding-left: 5px;
}

.benefits_subTitle {
    display: inline-block;
    padding: 5px;
}