* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(44, 44, 44);

}

.mg15 {
    margin: 0 15px 0 0;
}

/* Scale gray - color propety */
.c-white {
    color: #FFF;
}

.c-gray-1 {
    color: #eeeeee;
}

.c-gray-2 {
    color: #e5e5e5;
}

.c-gray-3 {
    color: #dcdcdc;
}

.c-gray-4 {
    color: #d2d2d2;
}

.c-gray-5 {
    color: #c9c9c9;
}

.c-gray-6 {
    color: #626262;
}

.c-gray-7 {
    color: #535353;
}

.c-gray-8 {
    color: #434343;
}

.c-gray-9 {
    color: #313131;
}

.c-gray-10 {
    color: #1b1b1b;
}

.c-black {
    color: #000;
}

.c-orange {
    color: #ffa500;
}

/* Scale gray - background-color propety */
.bg-white {
    background-color: #fff;
}

.bg-gray-1 {
    background-color: #eeeeee;
}

.bg-gray-2 {
    background-color: #e5e5e5;
}

.bg-gray-3 {
    background-color: #dcdcdc;
}

.bg-gray-4 {
    background-color: #d2d2d2;
}

.bg-gray-5 {
    background-color: #c9c9c9;
}

.bg-gray-6 {
    background-color: #626262;
}

.bg-gray-7 {
    background-color: #535353;
}

.bg-gray-8 {
    background-color: #434343;
}

.bg-gray-9 {
    background-color: #313131;
}

.bg-gray-10 {
    background-color: #1b1b1b;
}

.bg-black {
    background-color: #000;
}


/* Font size */
.sz-8pt {
    font-size: .6688rem;
}

.sz-9pt {
    font-size: .7524rem;
}

.sz-10pt {
    font-size: .8360rem;
}

.sz-11pt {
    font-size: .9196rem;
}

.sz-12pt {
    font-size: 1.0032rem;
}

.sz-14pt {
    font-size: 1.1704rem;
}

.sz-16pt {
    font-size: 1.3376rem;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.btn_model_01 {
    width: 85px;
    height: 25px;
    font-size: 8pt;
    font-weight: 750;
    background-color: transparent;
    border: 1.5px solid #ffa500;
    border-radius: 1rem;
    cursor: pointer;
}

.btn_model_01:hover {
    font-size: 8pt;
    font-weight: 750;
    color: #ffa500;
    transition: .3s;
    border: 1.5px solid #ffa500;
    border-radius: 1rem;
}