/* Estilos para telas menores que 576px */
@media (max-width: 575.98px) {
    .container-menu {
        display: none;
    }
}

/* Estilos para telas entre 576px e 767.98px */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container-menu-hamburguer {
        display: none;
    }

    header {
        height: 160px;
    }
}

/* Estilos para telas maiores ou iguais a 768px */
@media (min-width: 768px) {
    .container-menu-hamburguer {
        display: none;
    }

    header {
        height: 160px;
    }
}